
<div *ngIf="faceSnap$ | async as faceSnap" class="w-1/2 mx-auto">
    <a routerLink="/facesnaps" class=" mb-5 inline-block bg-slate-800 text-white font-bold px-3 py-1 rounded-3xl hover:bg-teal-700">← Back</a>
    <div class="rounded-xl overflow-hidden bg-white overflow-hidden shadow-lg">
        <figure class="flex items-center justify-center overflow-hidden">
            <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" class="max-w-full">
        </figure>
        <button (click)="onSnap(faceSnap.id)" [ngClass]="{'bg-teal-700': snapped, 'bg-slate-800': !snapped}"  class="p-3 uppercase w-full">
            <span class="text-white font-bold text-sm">{{ snapped ? 'Snapped!' : 'Snap this!' }}</span>
        </button>
        <article class="p-6 box-border">
            <h2 class="font-bold mb-6 flex justify-between">
                <span class="">{{ faceSnap.title }}</span>
                <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
            </h2>
            <p>{{ faceSnap.description }}</p>
            <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
            <p class="text-sm italic mt-6">{{ faceSnap.createdDate | date: 'HH:mm, le d MMMM yyyy' }}</p>
        </article>
        
    </div>
</div>

